<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#sitename</title>
    <style>
        body,hr{border:0}body,h1{margin:0}body{padding:0;font-family:Arial,helvetica,sans-serif;font-size:16px;line-height:22px;font-weight:400;color:#666}table{padding:30px}hr{background:#color;height:2px;margin:25px 0}h1{font-size:22px;text-align:center}p{margin:0 0 8px}b{color:#444}a{color:#color}
    </style>
</head>

<body bgcolor="#d5d5d5" >

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#fff">
    <tr>
        <td>
            <h1>#title</h1>
        </td>
    </tr>
    <tr>
        <td>
            <hr>

            #content

            <hr>
        </td>
    </tr>
    <tr>
        <td>
            <p style="float: left">#sitename</p>
            <p style="float: right"><a href="#siteurl">#siteurl</a></p>
            <div style="clear: both"></div>
        </td>
    </tr>
</table>

</body>
</html>
