////
/// general.scss
/// Aqui devem ser inseridas todas as classes e estilos universais o website
////

@include placeholder(13, '$black');
@include selection($black, $white);

body {
  font: {
    family: $main-font;
    size: $rem-base;
  }
}

// **************************************************
// HEADER
// Estilização da Header
// **************************************************

.header {
  background: darken($site-main-color, 5%);
  .logo {
    background: $site-main-color;
    padding: 30px;
    display: inline-block;
    width: auto;
    @include transition(.3s ease-in);
    &:hover {
      background: darken($site-main-color, 10%);
    }
    img {
      width: auto;
      height: 30px;
    }
  }
  .menu {
    text-align: right;
    color: $white;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
  }
}

.content {
  div[class^='col']:not(.col-break) {
    background: #eee;
    border: 1px solid #ccc;
  }

  hr {
    width: 100%;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $site-main-color;
    font: {
      family: 'Effra', $main-font;
      weight: 900;
      size: 22px;
    }
  }
}



